<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="POC" value="Jennifer Carah"/>
    <add key="Title" value="Field Scientist"/>
    <add key="Region" value="North Coast Ecoregion"/>
    <add key="Email" value="jcarah@tnc.org"/>
    <add key="RecoveryEmail" value="system@grfmonitoring.net"/>
    <add key="RecoveryEmailUsername" value="System Admin"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="e:\MyLog.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="admin@ecatch.org">
        <network host="mail.ecatch.org" port="25" userName="admin@ecatch.org" password="pHi$hing"/>
      </smtp>
    </mailSettings>
  </system.net>
  <location path="Styles/Styles.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
  <location path="SLService.svc">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="GRFServcie.svc">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="TestReport.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="ManageUsers.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="GarciaConnection" connectionString="Data Source=localhost;Initial Catalog=Garcia;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--
    <add name="GarciaConnection" connectionString="Server=grfmonitoring.net\SQLExpress;Database=Garcia;UID=TestUser; PWD=@testuser!"
      providerName="System.Data.SqlClient" />
    <add name="ReportsLibrary.Properties.Settings.garciaConnection"
      connectionString="Data Source=GRFMonitoring.net\SQLExpress;Initial Catalog=garcia;Persist Security Info=True;User ID=TestUser;Password=@testuser!"
      providerName="System.Data.SqlClient" />
    <add name="GarciaConnection_backup" connectionString="Server=Vostro\SQL2008Express;Database=Garcia;UID=TestUser; PWD=@testuser!"
      providerName="System.Data.SqlClient" />
    <add name="ReportsLibrary.Properties.Settings.garciaConnection_backup"
      connectionString="Data Source=Vostro\SQL2008Express;Initial Catalog=garcia;Persist Security Info=True;User ID=TestUser;Password=@testuser!"
      providerName="System.Data.SqlClient" />
    <add name="garciaConnectionString1" connectionString="Data Source=GRFMonitoring.net\SQLExpress;Initial Catalog=garcia;Persist Security Info=True;User ID=TestUser"
      providerName="System.Data.SqlClient" />
    <add name="garciaConnectionString1" connectionString="Data Source=GRFMonitoring.net\SQLExpress;Initial Catalog=garcia;Persist Security Info=True;User ID=TestUser"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="40960"/>
    <pages>
      <controls>
        <!--<add assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagPrefix="telerik"/>-->
      </controls>
    </pages>
    <customErrors mode="Off"/>
    <compilation debug="true" batch="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="Telerik.Reporting, Version=4.0.10.423, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"/>-->
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <!--<add assembly="Telerik.ReportViewer.WebForms, Version=4.0.10.423, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE"/>-->
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="Home.aspx" loginUrl="Login.aspx" timeout="30" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <allow roles="Active"/>
      <allow roles="Admin"/>
      <deny users="?"/>
      <deny roles="Inactive"/>
    </authorization>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <add name="MyMembershipProvider" connectionStringName="GarciaConnection" applicationName="MyMembership" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Hashed" type="System.Web.Security.SqlMembershipProvider" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="GarciaConnection" applicationName="MyMembership"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <!--<add path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.RadUploadProgressHandler" validate="false"/>
      <add path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=4.0.10.423, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" validate="true"/>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>-->
    </httpHandlers>
    <httpModules>
      <!--<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>-->
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!--<add name="Telerik_RadUploadProgressHandler_ashx" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler"/>
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=4.0.10.423, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="ChartImage_axd" verb="*" preCondition="integratedMode" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler"/>-->
    </handlers>
    <modules>
      <!--<add name="RadUploadModule" preCondition="integratedMode" type="Telerik.Web.UI.RadUploadHttpModule"/>-->
    </modules>
    <defaultDocument>
      <files>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint address="http://www.tnccmaps.org/ArcGIS/services/grf_site_public/MapServer" binding="basicHttpBinding" bindingConfiguration="MapServerBinding" contract="GarciaMap.MapServerPort" name="MapServerPort"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GRFServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="MapServerBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="SLService.customBinding0">
          <binaryMessageEncoding/>
          <httpTransport/>
        </binding>
        <binding name="MapInfoService.customBinding0">
          <binaryMessageEncoding/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <!--<service name="SLService">
        <endpoint address="" binding="customBinding" bindingConfiguration="SLService.customBinding0" contract="SLService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>-->
      <service name="MapInfoService">
        <endpoint address="" binding="customBinding" bindingConfiguration="MapInfoService.customBinding0" contract="MapInfoService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="GRFService">
        <endpoint address="" behaviorConfiguration="GRFServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="GRFService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>