<?xml version="1.0" encoding="UTF-8"?>
<!--
	Add user-defined raster marker symbols to this file.

	Attributes: 
		filepath: Path to image. Must be either relative and below this file, 
			URL relative to root (prefix by '/'), or fully qualifed http URL.
		width: width of image in pixels.
		height: height of image in pixels.
		filetype: Image filetype. Valid filetypes: gif, jpg, png, png8, png24, png32.

	Optional attributes:
		centerX: horizontal anchorpoint in pixels measured from the left starting at 0 (defaults to center).
		centerY: vertical anchorpoint in pixels measured from the top starting at 0 (defaults to center).
	-->
<Symbols>
	<!-- Examples -->
<!--
	<Symbol filepath="MySymbols/myPushPin.png" 
		width="32" height="24" 
		centerX="15" centerY="23" 
		filetype="png32" />
		
	<Symbol filepath="/images/symbols/PushPin.png" 
		width="32" height="24" 
		centerX="15" centerY="23" 
		filetype="png8" />

	<Symbol filepath="http://www.domain.com/images/icon.gif" 
		width="57" height="48" 
		centerX="29" centerY="24" 
		filetype="gif" />
-->
</Symbols>