/* Snap Tips */

.edsnaptip
{
	position: absolute;
	background-color: InfoBackground;
	border-width: 2px;
	border-style: solid;
	border-left-color: #DFDFDF;
	border-top-color: #DFDFDF;
	border-right-color: #808080 ;
	border-bottom-color: #808080 ;
	color: InfoText;
	font-family: Arial;
	font-size: small;
	padding: 3px;
	margin: 3px;
	z-index: 99998;
}

.edsnaptipMarker
{
	border: solid 1px black;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 99999;
}

.edSettingTD
{
	padding-left: 16px;
	width: 124px;
}

/* Configurator */

#editorTabs {
    background : white;
    border-bottom : 1px solid gray;
    margin : 12px 0 0;
    padding : 0 0 0 10px;
    z-index : 1;
}

#editorTabs li {
    display : inline;
    overflow : hidden;
    list-style-type : none;
    padding-left : 4px;
}

#editorTabs a, a.active {
    color : black;
    border : 1px solid gray;
    padding : 2px 5px 0;
    margin : 0;
    text-decoration : none;
}

#editorTabs a.active {
    border-bottom : 3px solid white;
}

#editorTabs a:hover {
    background : #e0e0e0;
}

#editorTabs a.active:hover {
    background : white;
}

#edConfigContent 
{
	font: 12px arial;
    background : white;
    text-align : justify;
    padding : 20px 0px 20px 12px;
    width: 720px;
    z-index : 2;
}

#edConfigContent a {
    text-decoration : none;
    color : black;
}

.snapConfigContainer
{
    margin: 10px 10px 10px 10px;
    border: solid 1px black;
    font: 12px arial;
    width: 380px;
    float: left;
}

.snapConfigBody
{
    overflow-x: hide;
    overflow-y: auto;
    float: left;
    width: 380px;
    height: 140px;
    padding: 5px 0 0 5px;
}

.snapConfigRow
{
    width: 380px;
    float: left;
}

.snapConfigLayerCol
{
    float: left;
    padding: 5px 0 5px 5px;
    width: 228px;
    overflow: visible;
    word-break: break-all;
}

.snapConfigCheckboxCol
{
    float: left;
    padding: 5px 0 5px 5px;
    width: 44px;
    text-align: center;
    overflow: hidden;
}

.snapConfigTol
{
	clear: left;
    padding: 5px 0 0 5px;
}

.advOp, .advOpRadio {
	padding:10px;
}

.advOpRadio input
{
	margin-left: 5px;
}
	