.ADF_MapTipContentsStyle
{
	background-color: white;
	border: solid 3px #00008b;
	color: Black;
	font-family:Verdana, Sans-Serif, Arial;	
	font-size:x-small;
	width: 250px;
	padding: 3px 10px 10px 10px;
}

.ADF_MapTipBodyStyle
{
	background-color: #00008b;
	position: absolute;
	left: 235px;
	top: 25px;
	visibility: hidden;
	width: 250px;

}

.ADF_MapTipHoverHeaderStyle
{
	background-color: #00008b;
	color:White;
	font-family:Verdana, Sans-Serif, Arial;	
	font-size:x-small;	
	font-weight:bold;
	width: 260px;
	color: White;
	text-transform: capitalize;
	padding: 2px 5px 0px 5px;
	border: solid 3px #00008b;
	cursor: move;
}

.ADF_MapTipExtendedHeaderStyle
{
	background-color: #00008b;
	color:White;
	font-family:Verdana, Sans-Serif, Arial;	
	font-size:x-small;	
	font-weight:bold;
	width: 250px;
	color: White;
	text-transform: capitalize;
	padding: 2px 15px 0px 5px;
	border: solid 3px #00008b;
	cursor: move;
}

.ADF_MapTipCloseStyle
{
	position: absolute;
	top: 5px;
	left: 258px;
	color:White;
	font-family:Verdana, Sans-Serif, Arial;	
	cursor: pointer;
	font-size:x-small;	
	font-weight:bold;
}
